section {
  min-height: 420px;
}

::-webkit-scrollbar {
  width: 0.35em;
}
::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

@media (max-width: 768px) {
  section.contact .form-group:first-child {
    margin-top: 3em;
  }
}
